<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/books.css">
  </head>
  <body>
    
    <p>
      <strong>Title:</strong>
      <span><%= @book.title =%></span>
    </p>
    <p>
      <strong>Body:</strong>
      <span><%= @book.body =%></span>
    </p>
    
    <a><%= link_to "Edit", edit_book_path(@book.id) %></a>
    <a><%= link_to "Back", book_index_path %></a>
    
  </body>
</html>