<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/books.css">
  </head>
  <body>
    <p>
      <strong>Title:</strong>
      <span><%= @book.title =%></span>
    </p>
    <p>
      <strong>Body:</strong>
      <span><%= @book.body =%></span>
    </p>
    <h1></h1>
  </body>
</html>